body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

p {
    line-height: 1px;
}

.us {
    position: relative;
    text-align: center;
    top: 5%;
}

.us img {
border-radius: 50%;
border: solid black 4px;
height: 25%;
}