body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

ul {
    list-style-type: none;
    margin: -10;
    padding: 0;
    overflow: hidden;
    background-color: rgb(52, 163, 61);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li:hover {
    background-color: rgb(168, 57, 168);
  }

  li .active {
      background-color: rgb(168, 57, 168);
  }

  body {
    background: rgb(243, 228, 199);
  }